@use '../abstracts/import.scss' as *;

$outroFadeOutDuration: 1.5s;

body {

    >#app,
    >#root {
        >#loader {
            .html-view {
                transition: opacity $outroFadeOutDuration ease;
            }
        }
    }
}

#loader {
    z-index: 999999;

    .loading-screen {
        position: absolute;
        top: 0;
        left: 0;
        width: 100dvw;
        height: 100dvh;

        .loading-progress {
            z-index: 2;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding-bottom: 2.5rem;
            opacity: 1;
            font-size: 2rem;
            color: $white;
            display: flex;
            align-items: center;
            gap: 0.25rem;
        }

        .loading-bar {
            z-index: 1;
            width: 100dvw;
            height: 0.25rem;
            position: absolute;
            top: 50%;
            left: 0;
            opacity: 1;
            background-color: $white;
            transform-origin: top left;
            transform: translateY(-50%) scaleX(0);

            &.ended {
                transform-origin: top right;
                animation: outBar $outroFadeOutDuration cubic-bezier(0.77, 0, 0.175, 1) forwards;

                @keyframes outBar {
                    0% {
                        transform: translateY(-50%) scaleX(1);
                    }

                    100% {
                        transform: translateY(-50%) scaleX(0);
                    }
                }
            }
        }
    }
}