@use '../abstracts/import.scss' as *;

$viewTransition: 0.5s;

* {
    box-sizing: border-box;
    user-select: none;
    overscroll-behavior: none;
}

body {
    position: relative;
    width: 100dvw;
    height: 100dvh;
    margin: 0;
    padding: 0;
    overflow: hidden;

    >#app,
    >#root {
        position: relative;
        width: 100%;
        height: 100%;

        >#loader {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
        }

        canvas,
        #webgl {
            width: 100%;
            height: 100%;
        }

        .html-view {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity $viewTransition ease;

            &.show {
                opacity: 1;
            }
        }
    }

    .lil-gui,
    #three-perf-ui {
        z-index: 999999;
    }
}